[Unit]
Description=Schedule a message every 1 minute
RefuseManualStart=no  # Allow manual starts
RefuseManualStop=no   # Allow manual stops

[Timer]
#Execute job if it missed a run due to machine being off
Persistent=true
OnCalendar=*-*-7
Unit=schedule-test.service

[Install]
WantedBy=timers.target
